@font-face {
  font-family: 'Ts';
  src: url('Ts.otf') format('opentype'); 
  font-weight: 1000;
  font-style: normal;
}
body{
  background-image:url('img/carinaNebula.jpg');
  background-size:auto;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    justify-content: center;    
}

.heading{
    color: beige;
    font-family: Provicali;
    font-size: x-large;
    text-align: center;
   
    width: 100%;
    height: 50%;
    padding: 0.1em;    
}
img{
    width: 300px;
    height: auto;
}
h1{
    width: 300px;
    width: 100%;
    padding:5%;
    box-sizing: border-box;  
    text-align: left;
}
ul {
    justify-content: center;
  }
  .g{
   
  display: flex;
  flex-direction: row;
  padding: 0px;
  justify-content: space-around;
  gap: 20px;
  backdrop-filter: blur(6px);
  }
  .g img{
    width: 20%;
    border-radius: 3%;
    transition: 0.5s ease-in-out;   
  }
  .G img{
    width: 30%;
    border-radius: 3%;    
  }
  .dna {
    height: 100px;
    display: flex;
    justify-content:center; 
    background-color: rgba(255, 255, 255, 0.2);  
    border-radius: 25px;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);  
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.s{
  color: beige;
    font-family: Ts;
    font-size: large;
    text-align: center;
}
